<h4>{{ title }} </h4>
{{ nodes }}
<<<<<<< HEAD
{{ pager }}
=======
{{ term }}
>>>>>>> e5fb086f24b20c23a0dfe474e60d343f1f33a0cb
<ul>
{% for article in nodes %}


  <li>{{ article.title.value }}</li>
  <li>{{ article.body.value|raw }}</li>
  <li>{{ article.field_movie_type.entity.name.value }}</li>
  <li><img src="{{ file_url(article.field_img.entity.fileUri) }}" alt="some text"></li>


{% endfor %}
</ul>

