<h4>{{ title }} </h4>
{{ nodes }}
<ul>
{% for article in nodes %}

  <li>{{ article.title.value }}</li>
  <li>{{ article.node_type.value }}</li>
  <li>{{ article.body.value|raw }}</li>
  <li><img src="{{ file_url(article.field_img.entity.fileUri) }}" alt="some text"></li>

{% endfor %}
</ul>
