<h4>{{ title }} </h4>
{{ nodes }}
{{ pager }}
{{ term }}

<ul>
{% for article in nodes %}


  <li>{{ article.title.value }}</li>
  <li>{{ article.body.value|raw }}</li>
  <li>{{ article.field_movie_type.entity.name.value }}</li>
  <li><img src="{{ file_url(article.field_img.entity.fileUri) }}" alt="some text"></li>


{% endfor %}
</ul>

